.button {
    background-color: #FFE4C4;
    width: 50px;
    border: 2px solid green;
    color: green;
    padding: 3px;
    margin: 1px;
}

.button:hover {
    background-color: rgb(139, 236, 139);
}

.button:active {
    background-color: rgb(80, 239, 80);
}

.buttonArrow {
    height: 50px;
    width: 55px;
    border: 2px solid green;
    color: green;
    background-color:  rgb(240, 251, 185);
    border-radius: 12px;
    font-size: 42px;
}

.buttonArrow:hover {
    background-color: rgb(139, 236, 139);
}

.buttonArrow:active {
    background-color: rgb(80, 239, 80);
}