.table {
    border: 2px solid green;
    background-color: #FAEBD7;
    width: 50%;
    padding: 7px;
}

.thead {
    color: green;
    text-align: left;
    font-weight: bold;
}

.td {
    width: 20%;
}

.tdButton {
    width: 15%;
    text-align: right;
}

.cardContainer {
    border: 2px solid green;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    color: black;
    background-color: #FAEBD7;
    font-size:xx-large;
}

.cards {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.checkButton {
    background-color:  rgb(240, 251, 185);
    border: 2px solid green;
    border-radius: 12px;
    margin-top: 12%;
    font-size: medium;
}

.checkButton:hover {
    background-color: rgb(139, 236, 139);
}

.checkButton:active {
    background-color: rgb(80, 239, 80);
}