.button {
    background-color: #FFE4C4;
    width: 50px;
    border: 2px solid green;
    color: green;
    padding: 3px;
    margin: 1px;
}

.button:hover {
    background-color: rgb(139, 236, 139);
}

.button:active {
    background-color: rgb(80, 239, 80);
}

.disabledButton {
    background-color: #FFE4C4;
    width: 50px;
    padding: 3px;
    margin: 1px;
}
