.table {
    border: 2px solid green;
    background-color: #FAEBD7;
    width: 100%;
    padding: 7px;
    
}

.thead {
    color: green;
    text-align: left;
    font-weight: bold;
}

.td {
    width: 20%;
}

.tdButton {
    width: 15%;
    text-align: right;
}

.errorInput {
    border: 2px solid red;
}

.errorParagraph {
    font-weight: normal;
    color: red;
    font-size: small;
}

.input {
    margin: 10px;
    width: 100%;

}

.firstParagraph {
    width: 100%;
    padding-bottom: 0;
}

.formInputs {
    margin-top: 0;
}